body{
color: white;
font-family: Arial, Helvetica, sans-serif;
background-image: url(../projetoblog/img/WhatsApp\ Image\ 2023-04-05\ at\ 14.09.17.jpeg);
background-position: center;

}


.link{
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 10px 8px;
    background: rgb(176, 201, 255);
    border-radius: 5px;
    margin-top: 10.3%;
    margin-left: -4.5%;
    position: absolute;
}
.link:hover{
    transition: 0.6s;
    background-color: #d1f505;
    transform: scale(1.25,1.25);
}


div img {
    width: 65px;
    margin-left: 50%;
    margin-top: 100px;
 }

 .apoio{
    cursor: pointer;
    text-decoration: none;
    padding: 10px 8px;
    color: white;
    background: rgb(176, 255, 176);
    position: absolute;
    border-radius: 5px;
    bottom: 40px;
    margin-left: 90%;
}

.apoio:hover{
    transition: 0.6s;
    background-color:  #d1f505;
    transform: scale(1.25,1.25);
}
