body{
color: white;
font-family: Arial, Helvetica, sans-serif;
background-image: url(../WhatsApp\ Image\ 2023-04-05\ at\ 14.09.17.jpeg);
background-position: center;

}

a{
    display: flex;
    color: white;
    text-decoration: none;
    

}

a:hover{
    color: purple;
    text-shadow: 0 0 8 purple;
    transition: 1s;
}

footer a{
    margin-top: 10px;
    justify-content: space-around;
    
}

footer img{
    width: 50px;
    margin-left: 770px;
    margin-top: 90px;
 }